<h1>saved ya some seats</h1><br>
<hr>
<div class="row">
  <!-- {{#each thoughts}} -->
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <h3>{{req.name}}</h3>
        <h3><%= req.name %></h3>
      </div>
    </div>
  </div>
  <!-- {{else}} -->
  <!-- {{each}} -->
</div>