<body>
<h1>many thoughts:</h1><br>
<hr>
<div class="row">
  <!-- {{#each thoughts}} -->
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <h3>Name: <%= req.body.name %></h3>
      </div>
    </div>
  </div>
</div>
<div id='resultsView'></div>
<script type="text/javascript">

  $(document).ready(() => {
        $.ajax({
          type: 'GET',
          url: "/users/viewThoughts",
          dataType: 'json',
          success: (data) => {
            console.log('ajax success!', data);
            updateResultList(data);
          } 
        }).done(function(data){
          console.log(data);
        });
    });
    

    function updateResultList(data) {
     if (data && data.total > 0) {
         let resultList = $('#resultsView');
         resultList.empty();
        for (let i = 0; i < 3; i++) {
          let name = data[i].name;
        console.log(name);
        }
    }
    console.log('data.Search else');
}
</script>
</body>