body {
	/* padding: 50px; */
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	width: 100%;
}

a {
	color: #00b7ff;
}
#static, #mainPage {
	text-align: center;
}
.staticHeader {
	/* Photo by me */
	background-image: url(/images/arches.jpg);
	display: grid;
	grid-template-columns: 3fr 1fr;
}
#campSign {
	border-left: 5px solid #93b0cb;
	border-right: 5px solid #93b0cb;
	border-left: 5px solid white;
	border-right: 5px solid white;
	margin-left: 10em;
	box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
}
nav ul {
list-style: none;
margin-top: 1em;
}
nav ul li {
padding: .7em
}
#login {
	width: 100%;
	height: auto;
	/* cairn pic © Can Stock Photo / logoboom */
	background-image: url(/images/cairn2.jpg);
}
#ejsBody {
	width: 100%;
	height: auto;
}
#register {
	/* mtns pic © Can Stock Photo / Webtrias */
	background-image: url(/images/river.jpg);
}
#dashboard {
	padding-top: 10em;
	/* tent pic © Can Stock Photo / mikdam */
	background-image: url(/images/tent2.jpg);
	color: white;
	font-weight: bolder;
}
#campgrounds, #thinks {
	margin: 0 auto;
	width: 95%;
}
#newThoughtsPage {
	padding: 3em;
	visibility: hidden;
	/* background-image: url(/images/redDirt.jpg); */
	/* background-color:rgba(31, 73, 125, 0.8); */
}
#mainArea {
	display: grid;
	grid-template-columns: 1fr 6fr;
}
#leftNav {
	margin-left: 2em;
}
#nav {
	list-style: none;
	text-align: left;
}
.logLinks {
	color: white;
	position: relative;
	margin-right: 1em;
	margin-bottom: 1em;
}
#logout {
	margin-top: 5em;
}
#NPSCampgroundsTable {
	text-align: left;
}
/* .formGroup2 {
	display: inline;
} */